.tag-wrap {
  padding: 1rem 0 1.5rem;
  font-size: 1rem;
}
.article-item {
  padding-bottom: 1rem;
  & + .article-item {
    padding-top: 1.25rem;
    border-top: 1px dashed #ccc;
  }
  .article-item-header {
    margin-bottom: 0.25rem;
    a {
      display: block;
      color: #03a9f4;
      font-size: 1.75rem;
      text-align: left;
      cursor: pointer;
      &:hover {
        color: darken(#03a9f4, 10);
      }
    }
  }
  .article-item-footer {
    text-align: right;
  }
}
