<div class="container" [@fadeIn]="void">
  <h1>Article List</h1>
  <div class="tag-wrap">
    <ul class="list-inline">
      <li *ngFor="let tag of tagList" class="list-inline-item">
        <a class="badge badge-success" title="{{tag.tag}}" (click)="onTagFilter(tag.tag)">{{tag.tag}}</a>
      </li>
    </ul>
  </div>
  <article>
    <ul class="list-unstyled article-list">
      <li class="article-item" *ngFor="let article of articleList">
        <header class="article-item-header">
          <h4>
            <a (click)="onSelect(article)">{{article.title}}</a>
          </h4>
          <ul class="list-inline">
            <li class="list-inline-item">
              <i class="fa fa-calendar"></i> {{article.date | date:"yyyy/MM/dd"}}
            </li>
            -
            <li class="list-inline-item">
              <i class="fa fa-user-circle"></i> {{article.author}}
            </li>
          </ul>
        </header>
        <section class="article-item-content">
          <p class="lead">{{article.content}}</p>
        </section>
        <footer class="article-item-footer">
          <ul class="list-inline">
            <li class="list-inline-item">
              <i class="fa fa-book"></i> {{article.read}}
            </li>
            -
            <li class="list-inline-item">
              <i class="fa fa-comment"></i> {{article.comment}}
            </li>
            -
            <li class="list-inline-item">
              <i class="fa fa-heart"></i> {{article.love}}
            </li>
          </ul>
        </footer>
      </li>
    </ul>
  </article>
</div>
